<!-- Toolbar -->
<div class="contenido" role="banner">
  <header class="header">
    <h2 class="header__titulo">Stepper Investigación de Operaciones</h2>

    <div class="header__brand">
      <p class="header__autor"> Autor :  <span>Andrés Pardo</span></p>
    </div><!--brand-->
  </header>

  <div class="contenedor">
    <h1 class="titulo__principal">Colas de Espera - Investigación de Operaciones 2022 - 1</h1>
    <app-stepper></app-stepper>
  </div>
  <footer class="footer">
    <p>Inv Operaciones 2 - 2022-1 &copy;</p>
  </footer>
</div>


